/* Layout */
#main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; /* Updated to have auto-sized top navigation and flexible content below */
}

#sidebar {
    position: fixed; /* Set the position to fixed */
    top: 0; /* Align the sidebar to the top of the screen */
    left: 0; /* Align the sidebar to the left of the screen */
    width: 100%; /* Set the width to 100% */
    display: flex;
    flex-direction: column;
    background-color: #375f74; /* Changed background color */
    padding: 10px 20px; /* Adjusted padding */
    align-items: center;
    box-shadow: 0 0 20px grey;
    z-index: 1000; /* Ensure it's above other content */
}


#branding {
    display: flex;
    align-items: center;
    justify-content: center; /* Align logo horizontally */
    margin-bottom: 10px; /* Added margin at the bottom to separate logo from navigation */
    color: #ffffff; /* Changed text color to white */
    font-family: 'Playfair Display', serif;
    transition: .5s ease-in-out;
}
#branding:hover{
    transform: scale(1.1);
}


#branding h1 {
    font-size: 20px; /* Reduced font size of the branding text */
    margin: 0; /* Remove default margin */
}

#main-nav {
    display: flex;
    justify-content: center; /* Center align the navigation links */
}

#main-nav a {
    padding: 6px 12px; /* Reduced padding */
    margin: 0 6px; /* Added margin between links */
    text-decoration: none;
    color: #ffffff; /* Changed text color to white */
    transition: transform 0.3s ease;
    font-family: 'Playfair Display', serif;
    font-size: 16px; /* Reduced font size */
}

#main-nav a:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#main-nav a:active, /* Apply styles for active link */
#main-nav a:focus { /* Apply styles for focused link (keyboard navigation) */
    color: #ffcc00; /* Change color to yellow (example) */
}

#content {
    padding: 280px 32px 32px; /* Increased top padding to create space for the fixed navigation */
}


/* Cursor style for image links */
#content a img {
    cursor: pointer;
}
